<?xml version="1.0"?>
<!-- Name your robot here -->
<robot name ="" xmlns:xacro="http://wiki.ros.org/xacro">

<!-- Include your urdf files here -->
	<!-- Include Robot's urdf filepath -->
	<!-- Include Lidar's urdf filepath -->
	<xacro:include filename="$(find trial1)/urdf/trial1.urdf"/>

<!-- Add your gazebo sensors here -->
	

<!--  Gazebo plugin for control here is already added for you -->
	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<robotNamespace>/trial1</robotNamespace>
			<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
			<legacyModeNS>true</legacyModeNS>
		</plugin>
	</gazebo>

	<joint name="world_base_joint" type = "fixed">
		<origin xyz ="0 0 0" rpy = "0 0 0"/>
		<parent link = "world"/>
		<child link ="base"/>
	</joint>
</robot>	


